.todo-container > .add-task-container {
  display: flex;
  width: 100%;
  gap: 10px;
}
.todo-container > .add-task-container > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primaryCl);
  background-color: var(--primaryCl);
  border-radius: 5px;
  padding: 0px 10px;
}
.todo-container > .add-task-container > form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.todo-container > .add-task-container > form > input {
  width: 85%;
  padding: 10px 15px;
  border: 1px solid var(--primaryCl);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  font-size: 20px;
  outline: none;
}
.todo-container > .add-task-container > form > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primaryCl);
  width: 15%;
  padding: 10px 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  background-color: var(--primaryCl);
}

/* DARK THEME */
.dark-theme {
  background-color: var(--darkCl);
}
.dark-theme .todo-container > h1 {
  color: var(--lightCl);
}
.dark-theme .todo-container > .add-task-container > form > input {
  background-color: var(--darkCl);
  color: var(--lightCl);
  border-color: var(--lightCl);
}
.dark-theme .todo-container > .add-task-container > form > button {
  border-color: var(--lightCl);
}
