.search-container {
  width: 53%;
}
.search-container > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
}
.search-container > form > input {
  width: 100%;
  padding: 15px 43px 15px 15px;
  background-color: var(--main-bg-cl);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 15px;
}
.search-container > form > input:focus {
  outline: 1px solid var(--secondary-text-cl);
}
.search-container > form > .search-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 15px;
  top: 49%;
}
.search-container > .clear-btn {
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 600;
}
