@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Bold.ttf) format("truetype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.hidden {
  display: none;
}

header > .page-size-center > img {
  width: 250px;
}
.page-size-center {
  max-width: 85%;
  margin: auto;
}
.banner .page-size-center > div {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.banner .page-size-center > div > div > div > img {
  width: 60vh;
  height: 40vh;
  border-radius: 25px;
}
