* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2293e9;
  color: #ffffff;
  border-radius: 15px;
  border: 3px solid black;
  font-weight: bold;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.open-modal {
  width: 150px;
  height: 50px;
  font-size: 24px;
}

.modal-window {
  width: 350px;
  box-shadow: 1px 1px 6px 1px #00000036;
  background-color: #ffffff;

  position: absolute;
}
.modal-window > .close-modal {
  background-color: transparent;
  border: none;
  position: absolute;
  font-size: 25px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.modal-window > form {
  display: flex;
  flex-direction: column;
  padding: 70px 50px;
  font-size: 18px;
}

.modal-window > form > input {
  border: none;
  border-bottom: 1px solid #2293e9;
  padding: 5px;
  margin-bottom: 15px;
}

.modal-window > form > input:focus {
  outline: none;
}

.modal-window > form .signup-btn {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: 18px;
  border: none;
}

.not-valid {
  border-bottom: 1px solid red;
}
