:root {
  --primary-text: #363636;
  --border-cl: #0000001a;
  --input-cl: #f0f0f0;
  --btn-cl: #9bc5bb;
  --btn-hover-cl: #7aac9f;
}

@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Bold.ttf) format("truetype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #363636;
}
button {
  cursor: pointer;
}
.page-size-center {
  max-width: 85%;
  margin: auto;
}
.hidden {
  display: none;
}
img[alt="Logo"] {
  width: 250px;
}

/* HEADER */
header > .page-size-center {
  padding: 20px 0px;
  border-bottom: 1px solid #68676789;
}
header > .page-size-center,
header > .page-size-center > nav,
header > .page-size-center > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > .page-size-center > nav {
  min-width: 40%;
}
header > .page-size-center > nav > ul {
  width: 100%;
}
header > .page-size-center > nav > ul > li > a {
  color: #363636;
  font-size: 20px;
  font-weight: 600;
}

/* MAIN - ANIMATED BANNER */
.animated-banner {
  display: flex;
  align-items: center;
  background-color: #3b3b3b;
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.animated-banner > div {
  display: flex;
  align-items: center;
  gap: 50px;
  overflow: hidden;
  color: aliceblue;
  font-size: 25px;
}
.animated-banner > div:first-child {
  transform: translateX(-130vw);
  animation-name: banner-animation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.animated-banner > div:last-child {
  position: absolute;
  transform: translateX(-130vw);
  animation-name: banner-animation;
  animation-duration: 20s;
  animation-delay: 7300ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  overflow: hidden;
}

.animated-banner > div > img {
  width: 50px;
}

@keyframes banner-animation {
  0% {
    transform: translateX(-130vw);
  }
  100% {
    transform: translateX(120vw);
  }
}

/* MAIN - BANNER */
main .banner .page-size-center {
  padding: 10px 0px 30px 0px;
}
main .banner .page-size-center > div > h1 {
  font-size: 35px;
  margin: 10px 0px;
}
main .banner .page-size-center > div {
  display: flex;
  justify-content: center;
  gap: 20px;
}
main .banner .page-size-center > div > div > div {
  position: relative;
  transition: all 500ms;
  cursor: pointer;
  margin-top: 15px;
}
main .banner .page-size-center > div > div > div:hover {
  transform: scale(1.01);
}
main .banner .page-size-center > div > div > div > span {
  font-size: 25px;
  font-weight: 700;
  color: #363636;
  position: absolute;
  top: 20px;
  left: 20px;
}
main .banner .page-size-center > div > div > div > img {
  width: 30vw;
  height: 20vw;
  border-radius: 25px;
}

/* MAIN - TOP SELLING */
main .top-selling .top-selling__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 25px;
}
main .top-selling .top-selling__header > h2 {
  font-size: 30px;
}
main .top-selling .top-selling__header > div {
  display: flex;
  gap: 20px;
}
main .top-selling .top-selling__header > div > button {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
}
main .top-selling .top-selling__header > div > button > img {
  width: 100%;
  height: 100%;
}
main .top-selling .top-selling__header > div > button > img[alt="arrow-right"] {
  transform: rotateZ(180deg);
}

main .top-selling .top-selling__container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  gap: 43px;
}
main .top-selling .top-selling__container .top-selling--card {
  width: 23%;
  min-width: 23%;
  transition: all 300ms;
}
main .top-selling .top-selling__container .top-selling--card > a > img {
  width: 100%;
  transition: transform 300ms;
  cursor: pointer;
}
main .top-selling .top-selling__container .top-selling--card > a > img:hover {
  transform: scale(1.05);
}
main .top-selling .top-selling__container .top-selling--card > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 10px 0px 10px;
}
main .top-selling .top-selling__container .top-selling--card > div > h3 {
  font-size: 20px;
  margin-bottom: 30px;
  height: 1vw;
}
main .top-selling .top-selling__container .top-selling--card > div > strong {
  font-size: 18px;
}

main .top-selling .top-selling__container .top-selling--card > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--btn-cl);
  color: #ffffff;
  margin-top: 15px;
  gap: 5px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  transition: background-color 300ms;
}
main .top-selling .top-selling__container .top-selling--card > button:hover {
  background-color: var(--btn-hover-cl);
}

/* FOOTER - TOP */
footer {
  /* border-top: 1px solid #68676789; */
  margin-top: 50px;
  background-color: #ededed75;
  padding-top: 30px;
}
footer .footer-top {
  padding-bottom: 30px;
  border-bottom: 1px solid #68676789;
}
footer .footer-top,
footer .footer-top > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
footer .footer-top > div:nth-child(2) {
  width: 45%;
}
footer .footer-top > div:nth-child(2) > div:first-child,
footer .footer-top > div:nth-child(2) > div:first-child > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-top > div:nth-child(2) > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-top > div:nth-child(2) > div:last-child > ul {
  display: flex;
  justify-content: space-between;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 10px 0px;
}

/* CART PAGE - SHOPPING-CART SECTION */

main .page-path {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--border-cl);
  padding: 20px 0px 25px 0px;
  gap: 13px;
}
main .page-path span:last-child {
  color: var(--primary-text);
}

main .shopping-cart .page-size-center > h1 {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 15px;
}
main .shopping-cart .page-size-center > div {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
main .shopping-cart .page-size-center > div > div {
  border: 1px solid var(--border-cl);
  border-radius: 15px;
  padding: 20px;
}
main .shopping-cart .page-size-center .shopping-cart__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}
main .shopping-cart .page-size-center .shopping-cart__prices {
  width: 40%;
}
main
  .shopping-cart
  .page-size-center
  .shopping-cart__container
  > .shopping-cart__container-card {
  display: flex;
  justify-content: space-between;
}
main
  .shopping-cart
  .page-size-center
  .shopping-cart__container
  > .shopping-cart__container-card:nth-child(2) {
  border-top: 1px solid var(--border-cl);
  border-bottom: 1px solid var(--border-cl);
  padding: 20px 0px;
}
main
  .shopping-cart
  .page-size-center
  .shopping-cart__container
  > .shopping-cart__container-card
  > div:first-child {
  display: flex;
  gap: 10px;
}

main
  .shopping-cart
  .page-size-center
  .shopping-cart__container
  > .shopping-cart__container-card
  > div:first-child
  > img {
  border-radius: 10px;
}
main
  .shopping-cart
  .page-size-center
  .shopping-cart__container
  > .shopping-cart__container-card
  > div:first-child
  > div
  > p {
  font-size: 14px;
  font-weight: 300;
}
main
  .shopping-cart
  .page-size-center
  .shopping-cart__container
  > .shopping-cart__container-card
  > div:first-child
  > div
  > p
  > span {
  color: var(--primary-text);
}
main
  .shopping-cart
  .page-size-center
  .shopping-cart__container
  > .shopping-cart__container-card
  > div:first-child
  > div
  > p:last-child {
  font-size: 25px;
  font-weight: 600;
  margin-top: 12px;
}
main
  .shopping-cart
  .page-size-center
  .shopping-cart__container
  > .shopping-cart__container-card
  > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
main
  .shopping-cart
  .page-size-center
  .shopping-cart__container
  > .shopping-cart__container-card
  > div:last-child
  > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 126px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--input-cl);
}
main
  .shopping-cart
  .page-size-center
  .shopping-cart__container
  > .shopping-cart__container-card
  > div:last-child
  > div
  > button {
  background-color: #ffffff00;
  border: none;
}
main
  .shopping-cart
  .page-size-center
  .shopping-cart__container
  > .shopping-cart__container-card
  > div:last-child
  > div
  > button:first-child {
  padding: 0px 0px 11px 0px;
}

main .shopping-cart .shopping-cart__prices {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .shopping-cart .shopping-cart__prices h2 {
  font-weight: 500;
  margin-bottom: 10px;
}
main .shopping-cart .shopping-cart__prices > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid var(--border-cl);
  padding-bottom: 15px;
}
main .shopping-cart .shopping-cart__prices > div > p {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
}
main .shopping-cart .shopping-cart__prices > div > p > span:first-child {
  color: var(--primary-text);
  font-weight: 400;
}
main .shopping-cart .shopping-cart__prices > div > p > .discount-price {
  color: #ff3333;
}
main .shopping-cart .shopping-cart__prices > div:nth-child(3) > p > span {
  color: #000000;
}
main .shopping-cart .shopping-cart__prices > div:nth-child(4) {
  position: relative;
}
main .shopping-cart .shopping-cart__prices > div:nth-child(4) form label {
  position: absolute;
  top: 12px;
  left: 14px;
}
main .shopping-cart .shopping-cart__prices > button {
  background-color: var(--btn-cl);
  padding: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 15px;
  border-radius: 25px;
  border: none;
  transition: background-color 300ms;
}
main .shopping-cart .shopping-cart__prices > button:hover {
  background-color: var(--btn-hover-cl);
}

/* MAIN - ABOUT US */
main .about-us .page-size-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
main .about-us .page-size-center h1 {
  font-size: 30px;
}
main .about-us .page-size-center h1,
main .about-us .page-size-center h2 {
  text-align: center;
}
