.favorite-page {
  width: 100%;
  min-height: 50vh;
  padding: 20px 0;
}
.favorite-page > .favorite-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding: 20px 0;
}
