.header--user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;
}
.header--user > a {
  color: var(--primary-text-cl);
}
.header--user > .logout-btn {
  background: none;
  border: none;
  color: var(--primary-text-cl);
  cursor: pointer;
  font-size: 1rem;
}