:root {
  --primary-text-cl: #5a5a5a;
  --secondary-text-cl: #848484;
  --header-text-cl: #000000;
  --btn-cl: #373737;
  --main-bg-cl: #f5f5f5;
  --footer-bg-cl: #dedede;
  --card-cl: #ffffff;
}

@font-face {
  font-family: "Quicksand";
  src: url(./assets/fonts/Quicksand-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Quicksand";
  src: url(./assets/fonts/Quicksand-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Quicksand";
  src: url(./assets/fonts/Quicksand-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Quicksand";
  src: url(./assets/fonts/Quicksand-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Quicksand";
  src: url(./assets/fonts/Quicksand-Bold.ttf) format("truetype");
  font-weight: 700;
}

.page-center-size {
  display: flex;
  margin: auto;
  width: 90%;
}
