* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand";
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--btn-cl);
}
button {
  cursor: pointer;
}
